<div
  class="d-flex flex-column align-items-center"
  *ngIf="user$ | async as user"
>
  <h2 class="text-dark pt-4 pb-3">User Data</h2>
  <form #userForm="ngForm" (ngSubmit)="handleFormSubmit(userForm, user)">
    <div class="mb-3 form-group">
      <label for="emailAddress">Email address</label>
      <input
        id="emailAddress"
        name="emailAddress"
        [(ngModel)]="user.emailAddress"
        type="email"
        class="form-control"
        pattern="^\S+@\S+\.\S+$"
        required
      />
      <div
        [hidden]="userForm.controls['emailAddress']?.valid"
        class="error-message"
      >
        The email must be a valid email address.
      </div>
    </div>
    <div class="mb-3 form-group">
      <label for="firstName">First name</label>
      <input
        id="firstName"
        name="firstName"
        [(ngModel)]="user.firstName"
        type="text"
        class="form-control"
        pattern="^[A-Z][a-z]{2,14}"
        required
      />
      <div
        [hidden]="userForm.controls['firstName']?.valid"
        class="error-message"
      >
        The first name of the user must be between 3 and 15 characters and must
        begin with a capital letter.
      </div>
    </div>
    <div class="mb-3 form-group">
      <label for="lastName">Last name</label>
      <input
        id="lastName"
        name="lastName"
        [(ngModel)]="user.lastName"
        type="text"
        class="form-control"
        pattern="^[A-Z].{2,24}"
        required
      />
      <div
        [hidden]="userForm.controls['lastName']?.valid"
        class="error-message"
      >
        The last name of the user must be between 3 and 25 characters and must
        begin with a capital letter.
      </div>
    </div>
    <div class="mb-3 text-center py-3">
      <div class="d-grid gap-2">
        <button
          [disabled]="userForm.invalid"
          class="btn btn-lg btn-primary"
          type="submit"
        >
          <fa-icon [icon]="saveIcon"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
