@use '../../../assets/modules/colors' as *;

form {
  width: 100%;
}

input {

  &:invalid {
    border-color: $red;
  }

  &:valid {
    border-color: $green;
  }

  &:focus {
    &:invalid {
      box-shadow: 0 0 0 0.25rem $red-shadow;
    }
    &:valid {
      box-shadow: 0 0 0 0.25rem $green-shadow;
    }
  }

}

@media (min-width: 992px) {
  form {
    width: 50%;
  }
}

