<div class="guitar">
  <div class="left-column">
    <app-guitar-image [title]="guitar.title"></app-guitar-image>
  </div>
  <div class="right-column">
    <app-guitar-title [title]="guitar.title"></app-guitar-title>
    <app-guitar-description [description]="guitar.description"></app-guitar-description>
    <app-guitar-price [price]="guitar.price"></app-guitar-price>
    <app-guitar-rating [rating]="guitar.rating"></app-guitar-rating>
    <app-guitar-stock [stock]="guitar.stock"></app-guitar-stock>
    <app-cart-button></app-cart-button>
  </div>
</div>
